---
---

/*!==============================
 * Theme Name: Stack
 * Theme URL: https://probootstrap.com/resto-free-restaurant-responsive-bootstrap-website-template
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@import 'custom-settings';

html {
	overflow-x: hidden;
}
body {
	background: #E4E4E4;
	color: #8b8e94;
	line-height: 24px;
	font-size: 15px;
	font-family: $font-primary;
}
// Typography
h1, h2, h3, h4, h5, h6 {
	color: $brand-black;
	line-height: 1.5;
	font-family: $font-primary;
}
h1 {
	font-size: 46px;
}
h2 {
	font-size:36px;
}
h3 {
	font-size:28px;
}
h4 {
	font-size:36px;
}
h5, h6 {
	font-size:14px;
}
p, ul, ol {
	margin-bottom: 30px;
}

a {
	transition: .3s all;
	color: $brand-primary;
	&:hover, &:focus, &:active {
		color: darken($brand-primary, 5%);
		text-decoration: none;
	}
}

.hero-text-heading {
	font-size: 52px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 64px;
	color: rgba(255,255,255,1);

	@media screen and (max-width: $screen-sm) {
		font-size: 40px;
		line-height: 1.5;
	}
	@media screen and (max-width: $screen-xs) {
		font-size: 30px;
	}
}
.hero-text-subheading {
	font-size: 16px;
	color: gold;
	&:last-child {
		margin-bottom: 0;
	}
}

.probootstrap-navbar {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 0px;
	background: none;
	transition: .3s all;

	@media screen and (max-width: $screen-sm) {
		background: rgba(255,255,255,1);
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,.1);
	}

	// animate hamburger menu
	.navbar-toggle:focus,
	.navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar-toggle {
    border: none;
	}
	.navbar-toggle span.icon-bar {
	  transition: all 0.15s;
	}

	.navbar-toggle span:nth-child(2) {
	  transform: rotate(45deg);
	  transform-origin: 10% 10%;
	}

	.navbar-toggle span:nth-child(3) {
	  opacity: 0;
	}

	.navbar-toggle span:nth-child(4) {
	  transform: rotate(-45deg);
	  transform-origin: 10% 90%;
	}

	.navbar-toggle.collapsed span:nth-child(2),
	.navbar-toggle.collapsed span:nth-child(4) {
	  transform: rotate(0);
	}

	.navbar-toggle.collapsed span:nth-child(3) {
	  opacity: 1;
	}

	// nav link padding
	.parent-nav-link-padding {
		padding-top: 54px;
		padding-bottom: 54px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 15px;
		margin-right: 15px;
		@media screen and (max-width: $screen-sm) {
			padding-top: 15px!important;
			padding-bottom: 15px!important;
		}
	}

	.dropdown-header {
		color: rgba(255,255,255,.2);
		padding-left: 10px;
		text-transform: uppercase;
	}
	.dropdown {

		> a {
			padding-right: 10px!important;
			position: relative;
			display: block;
			@media screen and (max-width: $screen-xs) {
				display: block;
				padding-right: 0px;
			}
			&:before {
				@include icomoon;
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: -10px;
				margin-top: -11px;
				content: "\e924";
				font-size: 20px;
				color: rgba($brand-white, .5);
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
					color: rgba(0,0,0,.2);
				}
			}
			&:hover {
				&:before {
					transform: rotate(180deg);
				}
			}
		}

		&.open, &:hover, &:focus, &:active {
			> a {
				// border-top: 2px solid $brand-dropdown;
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
					// border-top: 2px solid transparent;
				}

				&:before {
					transform: rotate(180deg);
				}

			}
		}

		// style for dropdown menu
		> .dropdown-menu {
			> li {
				a {
					padding: 10px;
					color: rgba(255,255,255,.8);
					&:hover {
						border-top: none;
						background: $brand-white;
						color: $brand-dropdown;
					}
				}
				&.open, &:hover, &:focus, &:active {
					> a {
						border-top: none;
						color: $brand-dropdown;
						background: $brand-white;
					}
				}

				&.dropdown-submenu {
					&.open, &:hover, &:focus, &:active {
						> a {
							border-top: none;

							&:before {
								color: $brand-black;
							}

						}
					}
				}
				&.active {
					> a {
						color: $brand-white;
					}
				}
			}
		}
	}
	.navbar-right {
    .dropdown-menu {
      right: auto;
    }
  }
	.dropdown-menu {
		border: none;
		box-shadow: none;
		background: $brand-dropdown;
		border-radius: 0;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,.15);

		min-width: 200px;
		white-space: normal;
		word-wrap: break-word;
		a {
			white-space: normal;
		}

		@media screen and (max-width: $screen-sm) {
			width: 100%;
			padding: 10px 15px;
			a {
				color: $brand-white;
			}
		}
	}

	.navbar-brand {
		@extend .parent-nav-link-padding;
		padding-top: 0!important;
		padding-bottom: 0!important;
		font-size: 30px;
		text-transform: lowercase;
		top: 20px;
    color: white;
		position: relative;
		transition: .2s all;
		@media screen and (max-width: $screen-sm) {
			top: 5px!important;
			background-position: left 100%;
      color: #FFA33E !important
		}
		@media screen and (max-width: $screen-xs) {
			top: 6px!important;
		}

		// retina logo
		@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
			position: relative;
	    background-size: cover;
		}

	}

	// main nav style
	.navbar-nav {
		> li {
			> a {
				@extend .parent-nav-link-padding;
				color: rgba(255,255,255,1);
				font-size: 15px;
				position: relative;
				text-transform: uppercase;
				@media screen and (max-width: $screen-sm) {
					padding-top: 8px;
					padding-bottom: 8px;
					color: rgba(0,0,0,.7);
				}
				&:hover {
					color: rgba(255,255,255,.7);
				}
				&:hover, &:focus, &:active {
					color: rgba(255,255,255,.7);
					@media screen and (max-width: $screen-sm) {
						// border-top: 2px solid transparent;
						color: rgba(0,0,0,.7);
					}
				}
			}
			&.open {
				> a {
					// border-top: 2px solid transparent;
					&:hover, &:focus, & {
						background: none;
					}
				}
			}
			&.active {
				> a {
					background: none;
					color: $brand-white;
					@media screen and (max-width: $screen-sm) {
						color: rgba(0,0,0,.7);
					}
					&:active, &:focus, &:hover {
						background: none;
						color: $brand-white;
						@media screen and (max-width: $screen-sm) {
							color: rgba(0,0,0,.7);
						}
					}
				}
			}
			> .dropdown-menu {
				&:before {
					border: 1px solid $brand-dropdown;
					content: "";
					position: absolute;
					top: -20px;
					left: 40px;
					border-color: rgba($brand-dropdown, 0);
					border-bottom-color: $brand-dropdown;
					border-width: 10px;
					margin-left: -10px;
					@media screen and (max-width: $screen-sm) {
						display: none;
					}
				}
			}
		}
		.dropdown {
			li.active {
				> a {
					// color: $brand-white;
					background: none;
				}
			}
		}
		&.active {
			> a {
				color: $brand-primary!important;
			}
		}
	}

	// submenu
	.dropdown-submenu {
    position: relative;
    .dropdown-menu {
    	top: 0;
	    left: 100%;
	    margin-top: -1px;
    }
    > a {

			display: block;
			&:before {
				@include icomoon;
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: 10px;
				margin-top: -11px;
				content: "\e926";
				font-size: 20px;
				color: rgba($brand-white, .5);
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
					color: rgba(0,0,0,.2);
				}
			}

    	&:hover {

				&:before {
					color: rgba($brand-black, .3);
					transform: rotate(180deg);
				}

			}
    }
    @media screen and (max-width: $screen-xs) {
    	&:hover {
				> .dropdown-menu {
					display: block;
				}
    	}
    }
	}
	&.scrolled {
		background: $brand-white;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.09);
		.parent-nav-link-padding {
			padding-top: 20px;
			padding-bottom: 20px;

		}
		.navbar-brand {
			top: 10px;
			background-position: left 100%;
		}
		.dropdown {
			> a {
				&:before {
					color: rgba(0,0,0,.4);
				}
			}
		}

		.navbar-nav {
			> li {
				> a {
					color: rgba(0,0,0,.7);
					&:hover {
						color: rgba(0,0,0,.7)!important;
					}
				}
				&.active {
					> a {
						color: $brand-primary!important;
						@media screen and (max-width: $screen-sm) {
							color: $brand-primary!important;;
						}
					}
				}
			}
		}
	}
}

// container fluid dropdown-menu
.container-fluid {
	.navbar-brand {
		margin-left: 15px;
	}
	.dropdown-submenu {
    position: relative;
    .dropdown-menu {
    	top: 0;
    	left: auto;
	    right: 100%;
	    margin-top: -1px;
    }
    @media screen and (max-width: $screen-xs) {
    	&:hover {
				> .dropdown-menu {
					display: block;
				}
    	}
    }
	}
}

.probootstrap-hero {
	background-size: cover;
	background-position: center center;

	> .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.3);
		z-index: 1;
	}
	> .container {
		position: relative;
		z-index: 2;
	}
	.probootstrap-hero-text {
		padding-top: 200px;
		padding-bottom: 200px;
		@media screen and (max-width: $screen-sm) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	&.probootstrap-sm-hero {
		.probootstrap-hero-text {
			padding-top: 150px;
			padding-bottom: 150px;
			@media screen and (max-width: $screen-sm) {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}
	&.probootstrap-xs-hero {
		.probootstrap-hero-text {
			padding-top: 90px;
			padding-bottom: 90px;
			@media screen and (max-width: $screen-sm) {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}
	h1 {
		@extend .hero-text-heading;
	}
	p {
		@extend .hero-text-subheading;
	}
	.btn {
		position: relative;
		font-size: 18px;
		width: 200px;
		@media screen and (max-width: $screen-xs) {
			width: 100%;
			margin-bottom: 10px;
		}
		&.btn-primary {
			text-transform: uppercase;
			padding: 15px 20px;
		}
	}
	&.probootstrap-hero-colored {
		background: $brand-primary;
		h1 {
			color: rgba(255,255,255,1);
		}
		p {
			color: rgba(255,255,255,.8);
		}
	}

}

.btn {
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	&:active {
			transition: .2s all;
			transform: scale(0.95);
			box-shadow: none;
		}
	&.btn-lg {
		font-size: 14px;
		line-height: 1.5;
	}
	&.btn-primary {
		border: 1px solid $brand-primary;
		background: $brand-primary;
		color: $brand-white;
		&:hover, &:active, &:focus {
			background: lighten($brand-primary, 2%);
		}
		&:focus, &:active {
			outline: none;
			border: 1px solid $brand-primary;
		}
		&:active {

		}
		&:focus {

		}
	}
	&.btn-ghost {
		background: transparent;
		border: 1px solid $brand-primary;
		color: $brand-primary;
		&:hover {
			background: $brand-primary;
			color: $brand-white;
		}
		&:focus, &:active {
			outline: none;
			background: transparent;
			color: $brand-primary;
			border: 1px solid $brand-primary;
		}
	}
}
section[data-section="menu"] {
	 position:relative;
	 margin-top: -140px;
	 z-index: -1;
	 @media screen and (max-width: $screen-sm) {
	 	margin-top: 0;
	 }
}
.probootstrap-section {
	padding: 7em 0;
	&.probootstrap-border-top {
		border-top: 1px solid rgba(0,0,0,.1);
	}
	&.probootstrap-border-bottom {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	> .container {
		&.probootstrap-border-top {
			padding-top: 50px;
			border-top: 1px solid rgba(0,0,0,.1);
		}
	}

	&.probootstrap-bg-white {
		background: $brand-white;
	}
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}

.probootstrap-section-bg {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 7em 0;
	position: relative;
	height: 400px;

  @media screen and (max-width: $screen-sm) {
		padding: 3em 0;
		height: 200px;
	}

  &.about-us {
	  padding: 2em 0;
	  height: 700px;

    .probootstrap-heading .primary-heading {
      font-size:50px;
      &::after {
        background-image: url(/img/about-spacer1.png);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        content: '';
        height: 10px;
      }

      @media screen and (max-width: $screen-sm) {
        font-size:30px;
	    }
    }

    p {
      color: white;
      font-size: 1.1em;
      &:last-of-type {
        margin-bottom: 10px;
      }
      @media screen and (max-width: $screen-sm) {
        font-size: 1em;
	    }
    }
  }
	&.overlay {
		&:before {
			content: "";
			background: rgba(0,0,0,.2);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.probootstrap-heading {
		margin-top: 100px;
 		@media screen and (max-width: $screen-sm) {
			margin-top: 50px;
		}
    &.narrow-margin {
		  margin-top: 20px;
      @media screen and (max-width: $screen-sm) {
			  margin-top: 10px;
		  }
    }
	}
}

.probootstrap-footer {
	background-size: cover;
	background: $brand-black;
	padding: 2em 0;
	color: rgba(255,255,255,.7);
	@media screen and (max-width: $screen-sm) {
		padding: 2em 0;
	}
	h3 {
		font-size: 18px;
		letter-spacing: .2em;
		text-transform: uppercase;
		color: $brand-white;
	}
	.probootstrap-footer-widget {
		margin-bottom: 0;
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 20px;
		}
	}
}
.probootstrap-copyright {
	background: lighten($brand-black, 15%);
	padding: 20px 0;
	a {
		color: rgba(255,255,255,.2);
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	p {
		font-size: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p.copyright-text {
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 20px;
		}
	}
}
.probootstrap-footer-social {
	padding: 0;
	margin: 0;
	&.right {
		text-align: right;
		@media screen and (max-width: $screen-sm) {
			text-align: left;
		}
	}
	li {
		display: inline;
		padding: 0;
		margin: 0;
		list-style: none;
		a {
			padding: 10px;
			font-size: 22px;
		}
		&:first-child {
			> a {
				padding-left: 0;
			}

		}
	}
}

// .probootstrap-footer {
// 	padding: 7em 0;
// 	background: $brand-dropdown;
// 	color: rgba(255,255,255,.9);
// 	a {
// 		color: rgba(255,255,255,.6);
// 		&:hover {
// 			color: rgba(255,255,255,1);
// 		}
// 	}
// 	@media screen and (max-width: $screen-sm) {
// 		padding: 3em 0;
// 	}
// 	.copyright {
// 		margin-top: 20px;
// 		@media screen and (max-width: $screen-sm) {
// 			margin-top: 0px;
// 		}
// 		p {
// 			line-height: 20px;
// 			.icon {
// 				position: relative;
// 				top: 2px;
// 			}
// 		}
// 	}
// 	.probootstrap-footer-widget {
// 		float: left;
// 		width: 100%;
// 		margin-bottom: 30px;
// 		h3 {
// 			color: rgba(255,255,255,1);
// 			font-size: 24px;
// 			font-weight: 300;
// 		}
// 		ul {
// 			margin: 0;
// 			padding: 0;
// 			li {
// 				margin: 0;
// 				padding: 0;
// 				list-style: none;
// 			}

// 		}
// 	}
// }

// Components
.probootstrap-block-image {
	background: $brand-white;
	margin-bottom: 30px;
	figure {
		img {
			max-width: 100%;
		}
	}
	.text {
		padding: 20px;
		.date {
			display: block;
			color: darken(#ccc, 20%);
			font-size: 12px;
			letter-spacing: .2em;
			text-transform: uppercase;
		}
		h3 {
			margin: 0 0 10px 0;
			font-size: 20px;
			a {
				color: $brand-black;
				&:hover {
					color: $brand-primary;
				}
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.probootstrap-custom-link {
	font-size: 16px;
	text-transform: uppercase;
	color: $brand-black;
	display: inline-block;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  &.link-sm {
  	font-size: 14px;
  }
  &:before {
  	content: "";
  	display: block;
  	width: 0;
  	height: 2px;
  	background: $brand-primary;
  	position: absolute;
  	bottom: 0;
  	z-index: 2;
  	transition: width .5s;
  }
	&:after {
		z-index: 1;
		position: absolute;
  	bottom: 0;
		content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
	}
	&:hover {
		color: $brand-black;
		&:before {
			width: 100%;
			background: $brand-primary;
		}
	}
}
// image wrapper
.image-wrap {
	overflow: hidden;
	position: relative;
	@media screen and (max-width: $screen-xs) {
		width: 100%;
		height: 200px;
	}
	.image-bg	{
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
		-ms-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
}
// menus
.menus {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0 0 10px 0;
		list-style: none;
		display: block;
		position: relative;
		.image, .text {
			display: table-cell;
			vertical-align: top;
		}
		.image {
			width: 80px;
			height: 80px;

			img {
				max-width: 100%;
				max-height: 100%;
				border-radius: 50%;
			}
		}
		.text {
			padding-left: 20px;
			h3 {
				margin: 15px 0 0px 0;
				font-size: 18px;
				text-transform: uppercase;
				color: $brand-black;
				@media screen and (max-width: $screen-sm) {
					margin-top: 0px;
				}
			}
			.price {
				position: absolute;
				top: 15px;
				right: 0;
				font-size: 20px;
				color: $brand-primary;
				@media screen and (max-width: $screen-sm) {
					top: 0px;
					position: relative;
					display: block;
					margin-bottom: 0px;
				}
			}
		}
	}
}

// flex retro
.probootstrap-cell-retro {
	width: 100%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	margin-top: -13%;
	position: relative;
	// box-shadow: 0px 0px 40px 0px rgba(0,0,0,.2);
	.half {
		width: 50%;
		float: left;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			margin-top: 0;
		}
	}
}
// flex retro
.probootstrap-cell {
	background: $brand-white;

	display: flex;
	flex-wrap: wrap;
	position: relative;
  height: 250px;
	@media screen and (max-width: $screen-md) {
		height: 400px;
	}

	.image, .text {
		width: 50%;
		@media screen and (max-width: $screen-md) {
			width: 100%;
		}
	}
	.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
    height: 250px;
		@media screen and (max-width: $screen-md) {
			height: 200px;
		}
    // @media screen and (max-width: $screen-xs) {
		//   height: 100%;
	  // }
	}
	.text {
		padding: 40px;
		position: relative;
    color: yellowgreen;
    height: 250px;

		@media screen and (max-width: $screen-md) {
			height: 200px;
		  padding: 20px;
		}
    // @media screen and (max-width: $screen-xs) {
		//   display: none;
	  // }

		h3 {
			margin: 0 0 10px 0;
			font-size: 18px;
			text-transform: uppercase;
			color: $brand-black;
		}
		p {
      text-align: justify;
			&:last-child {
				margin-bottom: 0;
			}
			&.price {
				font-size: 20px;
				color: $brand-primary;
			}
		}
		// arrow
		&:before {
			z-index: 22;
			right: 100%;
			top: 15%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;

			border-color: rgba(255, 225, 255, 0);
			border-right-color: $brand-white;
			border-width: 12px;
			margin-top: -12px;
			@media screen and (max-width: $screen-xs) {
				display: none;
			}
		}
	}
	&.reverse {
		.image {
			position: absolute;
			right: 0;
			width: 50%;
			@media screen and (max-width: $screen-md) {
				position: relative;
				width: 100%;
			  max-height: 200px;
			}
      // @media screen and (max-width: $screen-xs) {
			// 	width: 100%;
			//   min-height: 100%;
			// }
		}
		.text {
			// arrow
			&:before {
				z-index: 22;
				left: 100%;
				top: 15%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;

				border-color: rgba(255, 225, 255, 0);
				border-left-color: $brand-white;
				border-width: 12px;
				margin-top: -12px;
				// @media screen and (max-width: $screen-xs) {
				// 	display: none;
				// }
			}
		}
	}
}

// gallery
.probootstrap-gallery {
  width: 100%;
  float: left;
  figure {
  	display: block;
	  float: left;
	  width: 32%;
		margin-right: 2%;
		float: left;
		margin-bottom: 20px;
		&:nth-of-type(3n+3) {
			margin-right: 0;
		}
	  figcaption {
	  	display: none;
	  }
  }
  img {
  	width: 100%;
  	height: auto;
  }

  &.four-col {
		figure {
			width: 23.5%;
			margin-right: 2%;
			float: left;
			&:nth-of-type(4n+4) {
				margin-right: 0;
			}
		}
	}

	&.three-col {
		figure {
			width: 32%;
			margin-right: 2%;
			float: left;
			&:nth-of-type(3n+3) {
				margin-right: 0;
			}
		}
	}

	&.two-col {
		figure {
			width: 49%;
			margin-right: 2%;
			float: left;
			&:nth-of-type(2n+2) {
				margin-right: 0;
			}
		}
	}
}

.grid-item {
  float: left;
}
.gutter-sizer { width: 2%; }



.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	transition-property:         transform, opacity;
}

.grid-item,
.grid-sizer {
	margin-bottom: 0;
	img {
		max-width: 100%;
		margin-bottom: 0px;
		transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-webkit-transition:all 0.3s ease-in-out;
	}
	.two-cols & {

	  width: 49%;
	  @media screen and (max-width: $screen-sm ) {
			width: 49%;
			img {
				@media screen and (max-width: $screen-md ) {
					margin-bottom: 10px;
				}
				@media screen and (max-width: $screen-sm ) {
					margin-bottom: 10px;
				}
			}
		}
		@media screen and (max-width: $screen-xs ) {
			width: 100%;
	    margin-left: 0;
	    margin-right: 0;
		}
	}
	.three-cols & {
	  width: 32%;
	  @media screen and (max-width: $screen-sm ) {
			width: 48%;
	    margin-bottom: 10px;
		}
		@media screen and (max-width: $screen-xs ) {
			width: 100%;
	    margin-left: 0;
	    margin-right: 0;
		}
	}
	.four-cols & {
	  width: 23.5%;
	  @media screen and (max-width: $screen-sm ) {
			width: 32%;
			margin-bottom: 10px;
		}
		@media screen and (max-width: $screen-xs ) {
			width: 100%;
	    margin-left: 0;
	    margin-right: 0;
		}
	}
}

.probootstrap-gallery-item {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
	img {
		max-width: 100%;
		transition: .3s all;
	}
	a {
		display: block;
		float: left;
		width: 100%;
	}
	&:hover {
		img {
			opacity: .7;
		}
	}
}

// form
.probootstrap-form {
	margin-bottom: 50px;
	label {
		font-weight: normal;
	}
	.form-control {
		height: 46px;
		box-shadow: none;
		font-size: 14px;
		appearance: none;
		&:active, &:focus {
			box-shadow: none;
			border-color: $brand-primary;
		}
	}
	.form-group{
		.form-field {
			position: relative;
			.icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
			}
			.form-control {
				padding-right: 50px;
			}
		}
	}
	textarea.form-control {
		height: inherit;
		resize:vertical;
	}
}




// animate
.probootstrap-animate {
	opacity: 0;
	visibility: hidden;
}

// modal center
.modal {
	.modal-content {
		box-shadow: none;
		border-radius: 0;
		border: none;
		position: relative;
		box-shadow: 0px 0px 40px 0px rgba(0,0,0,.2);
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 100;
			font-size: 26px;
			@media screen and (max-width: $screen-xs) {
				top: 20px;
				right: 20px;
			}
		}
	}
	.probootstrap-modal-flex {
		display: flex;
		flex-wrap: wrap;

		.probootstrap-modal-figure {
			width: 40%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			@media screen and (max-width: $screen-xs) {
				height: 200px;
			}
		}
		.probootstrap-modal-content {
			width: 60%;
			padding: 40px;
			position: relative;
			@media screen and (max-width: $screen-xs) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.probootstrap-modal-figure,
		.probootstrap-modal-content {
			@media screen and (max-width: $screen-xs) {
				width: 100%;
			}
		}
		.form-control {
			height: 40px;
		}
		.btn {
			@media screen and (max-width: $screen-xs) {
				margin-bottom: 10px;
			}
		}
		.probootstrap-remember {
			float: left;
		}
		.probootstrap-forgot {
			float: right;
			@media screen and (max-width: $screen-xs) {
				float: left;
			}
		}
		.form-group {
			position: relative;
		}
		.probootstrap-or {
			padding: 10px 0;
			text-align: center;
			display: block;
			font-size: 11px;
			text-transform: uppercase;

			> span {
				display: block;
				&:before {
					height: 1px;
					left: 0;
					right: 0;
					top: 50%;
					background: #ccc;
					width: 100%;
					content: "";
					position: absolute;
				}
			}
			em {
				color: #ccc;
				display: inline-block;
				background: $brand-white;
				position: relative;
				z-index: 2;
				padding: 0 4px;
				font-style: normal;
			}
		}
		.btn-connect-facebook {
			background: #3b5998;
			border-color: #3b5998;
			color: $brand-white;
		}
		.btn-connect-twitter {
			background: #1da1f2;
			border-color: #1da1f2;
			color: $brand-white;
		}
		.btn-connect-google {
			background: #ea4335;
			border-color: #ea4335;
			color: $brand-white;
		}
	}
	.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
	}
	.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
	}
	.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
	}
}

// contact info
.probootstrap-contact-info {
	padding: 0;
	margin: 0 0 30px 0;
	li {
		padding: 0;
		margin: 20px 0 15px 0;
		list-style: none;
		line-height: 24px;
		> i, > span {
			vertical-align: top;
			display: table-cell;
		}
		> i {
			font-size: 20px;
			position: relative;
			top: 2px;
			width: 30px;
		}
		> span {

		}
	}
}

// team
.probootstrap-team {
	margin-bottom: 30px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 2;
	border-radius: 6px;
	@media screen and (max-width: $screen-xs) {
		overflow: visible;
		img {
			max-width: 100%;
		}
	}
	img {
		transition: .3s all;
		transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
	}
	.probootstrap-team-info {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		transition: .3s all;
		transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
		text-align: center;
		margin-top: 20px;
		z-index: 3;
		display: block;

		@media screen and (max-width: $screen-xs) {
			position: relative;
			top: inherit!important;
			margin-top: 0!important;
			visibility: visible;
			opacity: 1;
			transform: translateY(0%);

		}
		h3 {
			color: rgba(255,255,255,1);
			.position {
				display: block;
				font-size: 14px;
				color: rgba(255,255,255,.4);
			}

			@media screen and (max-width: $screen-xs) {
				color: rgba(0,0,0,.7);
				.position {
					display: block;
					font-size: 14px;
					color: rgba(0,0,0,.4);
				}
			}
		}
	}
	&:before {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,.8);
		transition: .3s all;
		z-index: 1;
		border-radius: 5px;
	}
	&:hover, &:focus {
		img {
			transform: scale(1.1);
		}
		&:before {
			visibility: visible;
			opacity: 1;
			@media screen and (max-width: $screen-xs ) {
				display: none;
			}
		}
		.probootstrap-team-info{
			opacity: 1;
			visibility: visible;
			margin-top: 0px;
		}
	}
}

// probootstrap flexbox
.probootstrap-flex-section {
	padding: 7em 0;
	&.probootstrap-bg-white {
		background: $brand-white;
	}
}

// pages

// clients
.proboostrap-clients {
	.client-logo {
		margin-bottom: 30px;
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 30px;
		}
	}
}

// pricing
.probootstrap-pricing-wrap {
	position: relative;
}
.probootstrap-pricing {
	background: $brand-white;
	float: left;
	width: 100%;
	padding: 20px;
	text-align: center;
	position: relative;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,.08);
	z-index: 2;
	margin-top: -200px;
	@media screen and (max-width: $screen-md) {
		margin-top: 0!important;
		margin-bottom: 30px;
	}
	&.popular {
		z-index: 10;
		margin-top: -215px;
		padding-top: 40px;
		@media screen and (max-width: $screen-md) {
			margin-top: 0!important;
		}
	}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-bottom: 50px;
		> span {
			margin-top: 10px;
			display: block;
			text-transform: none;
			letter-spacing: normal;
			color: $brand-primary;
			font-size: 14px;
		}
	}

	.probootstrap-price-wrap {
		margin-bottom: 50px;
		.probootstrap-price {
			font-size: 50px;
			color: $brand-primary;
			font-weight: 100;
			display: block;
			margin-bottom: 10px;
		}
		.probootstrap-price-per-month {
			font-size: 13px;
		}
	}
	ul {
		padding: 0 30px;
		margin: 0 0 50px 0;
		@media screen and (max-width: $screen-xs) {
			padding: 0 10px;
		}
		li {
			padding: 0;
			margin: 0 0 20px 0;
			line-height: 24px;
			list-style: none;
		}
	}
}

// Testimonial
.probootstrap-testimony-wrap {
	border-radius: 4px;
	padding: 20px;
	figure {
		margin-bottom: 20px;
		img {
			height: 80px;
			width: 80px!important;
			margin: 0 auto;
			border-radius: 50%;
		}
	}
	blockquote {
		border-left: none;
		padding: 0;
		margin-bottom: 0;
		color: $brand-black;
		cite {
			margin-top: 30px;
			display: block;
			font-size: 14px;
			color: rgba(0,0,0,.3);
			span {
				font-style: normal;
				color: $brand-black;
				font-weight: bold;
			}
		}
	}

}
.owl-carousel-testimony {
	.item {
		padding-bottom: 40px;
		padding-top: 20px;
	}
	.probootstrap-testimony-wrap {
		border: 1px solid lighten(#ccc, 15%);
		max-width: 700px;
		margin: 0 auto;
		box-shadow: 0px 2px 17px 0px rgba(0,0,0,.09);
	}
}

/* Flexslider override style */
.slider-height {
	height: 750px;
	@media screen and (max-width: $screen-xs) {
		height: 400px;
	}
}
.probootstrap-heading {
	.primary-heading {
		font-family: $font-secondary;
		color: $brand-primary;
		margin: 0;
		padding: 0;
		padding-bottom: 20px;
		font-size: 80px;
		@media screen and (max-width: $screen-sm) {
			font-size: 80px - 35px;
		}
	}
	.secondary-heading {
		text-transform: uppercase;
		color: $brand-white;
		margin: 0;
		padding: 0;
		letter-spacing: .05em;
		font-size: 50px;
		position: relative;
		top: -50px;
		font-weight: 700;
		line-height: 40px;
		@media screen and (max-width: $screen-sm) {
			font-size: 50px - 20px;
		}
	}
	&.dark {
		.secondary-heading {
			color: $brand-black;
		}
	}
	.seperator {
		display: block;
		margin: 0 auto 10px auto;
		color: #ccc;
		font-weight: 300;
	}
}
.flexslider {
	position: relative;
	z-index: 2;
	background: none;
  border: none;
  margin: 0 0 0;
  overflow: hidden;
  @extend .slider-height;
  .probootstrap-slider-text {
  	margin-top: 300px;
  	@media screen and (max-width: $screen-xs) {
  		margin-top: 150px;
  	}

  	.sub-heading {
  		font-size: 20px;
  		margin-top: -40px;
  		color: rgba(255,255,255,.7);

      @media screen and (max-width: $screen-xs) {
  		  font-size: 12px;
  	  }

      @media screen and (max-width: $screen-md) {
  		  font-size: 15px;
  	  }

  		a {
  			color: rgba(255,255,255,1);
  		}
  	}
  }
  .slides {
  	> li {
  		@extend .slider-height;
  		background-size: cover;
  		// background-position: center center;
 		  background-repeat: none;
      @media screen and (min-width: $screen-md) {
        transition:all 5s linear .5s;
        -webkit-transition:all 5s linear .5s;
        transform:scale(2);
        -webkit-transform:scale(2);
  	  }

      &.flex-active-slide {
        @media screen and (min-width: $screen-md) {
          -webkit-transform:scale(1);
          transform:scale(1);
  	    }
      }

  		&.overlay {
				&:before {
					content: "";
					background: rgba(0,0,0,.2);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
  		}
  	}
  }
  .flex-control-paging {
  	position: absolute;
  	bottom: 30px;
  	z-index: 20;
  }
	.flex-direction-nav {
		@media screen and (max-width: $screen-xs) {
			display: none;
		}
	}
	.flex-direction-nav a {
	  text-decoration: none;
	  display: block;
	  width: 30px;
	  height: 30px;
	  margin: -60px 0 0;
	  position: absolute;
	  top: 50%;
	  z-index: 10;
	  overflow: hidden;
	  opacity: 0;
	  cursor: pointer;
	  color: rgba(0, 0, 0, 0.8);
	  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -ms-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	  background: rgba(0,0,0,.8);
	  border-radius: 0px;
	  padding: 30px;
	}
  .flex-direction-nav a:before {
  	@include icomoon;
		position: absolute;
		content: "\e929";
		transition: .3s all;
	  font-size: 30px;
	  display: inline-block;
	  color: rgba(255, 255, 255, 0.8);
		left: 50%;
	  top: 50%;
		transform: translate(-50%, -50%);
	}
	.flex-direction-nav a.flex-next:before {
		content: "\e92a";
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.flex-direction-nav .flex-prev {
  left: 0px;
}
.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}
.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: .3s all;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(255, 255, 255, 1);
  cursor: default;
}


/* Owl carousel override style */
.owl-carousel {
	margin-bottom: 100px;
	&.border-rounded {
		.item {
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 4px;
			overflow: hidden;
		}

	}
}
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls, {
	margin-top: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 50%;
	// margin-top: -39px;
	transform: translateY(-50%);
	z-index: 9999;
	position: absolute;
	transition: .2s all;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
	right: 20px;

}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	left: 20px;

}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev{
	i {
		color: $brand-black;
	}
	&:hover {
		i {
			color: $brand-black;
		}
	}
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-white;
	}
	&:hover {
		i {
			color: $brand-white;
		}
	}
}


.owl-theme .owl-controls .owl-nav {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none!important;
	i {
		font-size: 24px;
		background: rgba($brand-primary,1)!important;
		padding: 12px;
		transition: .5s all;
	}
	&:hover, &:focus {
		i {
			background: rgba($brand-primary,1)!important;
		}
	}
}
.owl-theme .owl-dots {
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
}
.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: -30px;
	margin-bottom: -2.5em;
}
.owl-work.owl-theme .owl-dots {
	bottom: -30px;
	margin-bottom: -2.5em;
}
.owl-theme .owl-dots .owl-dot span {
	width:8px;
  height:8px;
	background: rgba($brand-black, .2);
	transition: .2s all;
	border: 2px solid transparent;
	&:hover {
		background: none;
		border: 2px solid rgba($brand-black, .2);
	}
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: none;
	border: 2px solid $brand-black;
}



// Helper
.probootstrap-gutter0 {
	> div[class*='col-'] {
		padding-right: 0px;
		padding-left: 0px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.probootstrap-gutter40 {
	> div[class*='col-'] {
		padding-right: 20px;
		padding-left: 20px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.probootstrap-gutter60 {
	> div[class*='col-'] {
		padding-right: 30px;
		padding-left: 30px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.mb0 {
	margin-bottom: 0px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb80 {
	margin-bottom: 80px;
}
.mb90 {
	margin-bottom: 90px;
}
.mb100 {
	margin-bottom: 100px;
}
.mt0 {
	margin-top: 0px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
.mt60 {
	margin-top: 60px;
}
.mt70 {
	margin-top: 70px;
}
.mt80 {
	margin-top: 80px;
}
.mt90 {
	margin-top: 90px;
}
.mt100 {
	margin-top: 100px;
}
.pb0 {
	padding-bottom: 0!important;
}
.img-sm-responsive {
	@media screen and (max-width: $screen-sm) {
		max-width: 100%;
	}
}
.img-xs-responsive {
	@media screen and (max-width: $screen-sm) {
		max-width: 100%;
	}
}

.flexslider {
  .slides {
    > li {
      background-size: auto auto;
      background-repeat: no-repeat, repeat;
      background-position: top right, 0px 0px;
    }
  }
}

.navbar-default {
  .navbar-brand {
    img {
      display: inline;
      width: 70px;
    }
    &:hover {
      color: white;
    }
  }
}

.probootstrap-navbar.scrolled {
  .navbar-brand {
    color: #FFA33E !important
  }
}

.about-logo {
  background: url(/img/about-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  @media screen and (max-width: $screen-sm) {
    height: 80px;
	}
}
