    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">{{ include.data.heading }}</h1>
              <span class="seperator">* * *</span>
            </div>
            {% for par in include.data.content %}
            <p>{{ par }} </p>
            {% endfor %}
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <p><img src="img/baked-cake-donut.jpg" alt="Baked Cake Doughnut" class="img-responsive"></p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
