    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="probootstrap-cell-retro">
            <div class="half">
              {% assign middle = include.data | size | divided_by:2 %}
              {% assign side = "left" %}
              {% for item in include.data %}
              {% if forloop.index0 == middle %}
              {% assign side = "right" %}
            </div>
            <div class="half">
              {% endif %}
              <div class="probootstrap-cell {% cycle side: '', 'reverse' %} probootstrap-animate" data-animate-effect="fadeIn">
                <div class="image" style="background-image: url(img/gallery/{{ item.image }});"></div>
                <div class="text text-center">
                  <h3>{{ item.name }}</h3>
                  <p>{{ item.description }}</p>
                  {% if item.price %}
                  <p class="price">{{ item.price }}</p>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
