    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <ul class="menus">
              {% assign middle = include.data | size | divided_by:2 %}
              {% for item in include.data %}
              {% if forloop.index0 == middle %}
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="menus">
              {% endif %}
              <li>
                <figure class="image"><img src="img/menu/{{ item.image }}" alt="{{ item.name }}"></figure>
                <div class="text">
                  {% if item.price %}
                  <span class="price">{{ item.price }}</span>
                  {% endif %}
                  <h3>{{ item.name }}</h3>
                  <p>{{ item.description }}</p>
                </div>
              </li>
              {% endfor %}
          </div>
      </div>
    </section>
