    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5" data-section="reservation">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Order</h2>
              <h3 class="secondary-heading">Order A Cake</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
            <form action="https://formspree.io/thebaketray@gmail.com"
              method="POST" class="probootstrap-form">
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_next" value="//thebaketray.com/" />
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <div class="form-field">
                      <i class="icon icon-user2"></i>
                      <input type="text" id="name" name="name" class="form-control" placeholder="Your full name">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <div class="form-field">
                      <i class="icon icon-phone"></i>
                      <input type="text" id="phone" name="phone" class="form-control" placeholder="Your phone">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="weight">Weight</label>
                    <div class="form-field">
                      <i class="icon icon-stats-bars"></i>
                      <input type="number" id="weight" name="weight" class="form-control" placeholder="Weight">
                    </div>
                  </div>
                </div>
              </div>
              <!-- END row -->
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Address">Address</label>
                    <div class="form-field">
                      <i class="icon icon-location"></i>
                      <input type="text" id="location" name="location" class="form-control" placeholder="Your Location">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="caketype">Cake Type</label>
                    <div class="form-field">
                      <i class="icon icon-cake"></i>
                      <select name="caketype" id="caketype" class="form-control">
                        <option value="custom">Custom Cake</option>
                        {% for cake in site.data.menu %}
                        <option value="{{ cake.name }}">{{ cake.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="message">Message On Cake</label>
                    <div class="form-field">
                      <i class="icon icon-bubbles"></i>
                      <input type="text" id="message" name="message" class="form-control" placeholder="Message On Cake">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <div class="form-field">
                      <i class="icon icon-mail"></i>
                      <input type="text" id="email" name="email" class="form-control" placeholder="Your email address">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="flavour">Flavour</label>
                    <div class="form-field">
                      <i class="icon icon-magic-wand"></i>
                      <input type="text" id="flavour" name="flavour" class="form-control" placeholder="Desired Flavour">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-md-offset-4">
                  <input type="submit" name="submit" id="submit" value="Order" class="btn btn-lg btn-primary btn-block">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
