    <section class="flexslider" data-section="welcome">
      <ul class="slides">
        {% for slider in include.data %}
        <li style="background-image: url(img/slider/{{ slider.image }}), url(img/bg/{{ slider.background }})"
          class="overlay" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                  <h1 class="primary-heading">{{ slider.heading }}</h1>
                  <h3 class="secondary-heading">{{ slider.subheading }}</h3>
                  <p class="sub-heading">{{ slider.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
