    <section class="probootstrap-section-bg overlay" style="background-image: url(img/hero_bg_4.jpg);"  data-stellar-background-ratio="0.5" data-section="recent">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Our</h2>
              <h3 class="secondary-heading">Recent Deliveries</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          {% for item in include.data %}
          <div class="col-md-4 col-sm-4 probootstrap-animate">
            <div class="probootstrap-block-image">
              <figure><img src="img/testimonials/{{ item.image }}" alt="{{ item.title }}"></figure>
              <div class="text">
                <span class="date">{{ item.date }}</span>
                <h3><a href="#">{{ item.title }}</a></h3>
                <p>{{ item.content }}</p>
                <p class=""><a href="#" class="probootstrap-custom-link link-sm">Read More</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </section>
