<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | thebaketray {% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="keywords" content="{{ page.keywords | default: site.keywords | default: site.github.project_tagline }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/styles-merged.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img src="img/TBT_black.png" alt="" />thebaketray</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#" data-nav-section="welcome">Home</a></li>
            <li><a href="#" data-nav-section="specialties">Specialties</a></li>
            <li><a href="#" data-nav-section="menu">Menu</a></li>
            <li><a href="#" data-nav-section="reservation">Order</a></li>
            <li><a href="#" data-nav-section="recent">Recent Deliveries</a></li>
            <li><a href="#" data-nav-section="aboutus">About Us</a></li>
            <li><a href="#" data-nav-section="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- slider -->
    {% include slider.html data=site.data.sliders %}
    <!-- /slider -->

    <!-- about us -->
    {% include about.html data=site.data.about %}
    <!-- /about us -->

    <section class="probootstrap-section-bg overlay" style="background: url(img/bg/banner1.png) repeat;" data-stellar-background-ratio="0.5" data-section="specialties">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Our Specialties</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- gallery.html -->
    {% include gallery.html data=site.data.gallery %}
    <!-- /gallery.html -->

    <section class="probootstrap-section-bg overlay" style="background: url(img/bg/banner4.png) repeat;" data-stellar-background-ratio="0.5" data-section="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center probootstrap-animate">
            <div class="probootstrap-heading">
              <h2 class="primary-heading">Discover</h2>
              <h3 class="secondary-heading">Our Menu</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- menu -->
    {% include menu.html data=site.data.menu %}
    <!-- /menu -->

    <!-- order -->
    {% include order.html %}
    <!-- /order -->

    <!-- testimonials -->
    {% include testimonials.html data=site.data.testimonials %}
    <!-- /testimonials -->


    <section class="probootstrap-section-bg about-us overlay" style="background: url(img/about.png) no-repeat; background-size: cover" data-stellar-background-ratio="0.5" data-section="aboutus">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12 text-center probootstrap-animate">
            <div class="probootstrap-heading narrow-margin">
              <h4 class="primary-heading">Homemade From The Heart</h4>
              <p>Thebaketray is a homemade cake makers specializing in theme cakes, cookies, pastry, Doughnuts, Candy pops and much more. Located in Kasaragod, Kerala, we use time-honored techniques to craft some of the most amazing baked delights. Using only the finest products to create the most unique and delicious product for you. We put our heart and soul into baking and creating our products, and it shows.

              </p>
              <p>                The process of crafting delicious chocolate cookies and candies; that also taste AMAZING is an involved one. We don't believe in taking short cuts. The cakes and our MANY other fresh and unique products we offer are crafted from small batches and baked to perfection.
              </p>
              <div class="row">
                <div class="col-xs-3 col-xs-offset-5 about-logo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="probootstrap-section probootstrap-bg-white" data-section="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5 text-center probootstrap-animate">
            <div class="probootstrap-heading dark">
              <h1 class="primary-heading">Feedback</h1>
              <h3 class="secondary-heading">Talk To Us</h3>
            </div>
            <p>Please drop your valuable feedbacks and suggestion</p>
          </div>
          <div class="col-md-6 col-md-push-1 probootstrap-animate">
            <form method="POST" action="https://formspree.io/thebaketray@gmail.com" class="probootstrap-form">
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="_next" value="//thebaketray.com/" />
              <div class="form-group">
                <label for="c_name">Your Name</label>
                <div class="form-field">
                  <input type="text" id="c_name" name="feedback_name" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="c_email">Your Email</label>
                <div class="form-field">
                  <input type="text" id="c_email" name="feedback_email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="c_message">Your Message</label>
                <div class="form-field">
                  <textarea id="c_message" name="feedback_message" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" name="c_submit" id="c_submit" value="Send Message" class="btn btn-primary btn-lg">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Locations</h3>
              <div class="row">
                <div class="col-md-6">
                  <p> Kasaragod, Kerala </p>
                </div>
                <div class="col-md-6">
                  <p style="margin-bottom: 0">+91 9995903414</p>
                  <p style="margin-bottom: 0">+91 9061111180</p>
                  <p style="margin-bottom: 0">info@thebaketray.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>Since 2011</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="probootstrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="copyright-text">&copy; 2019 <a href="">Thebaketray.com</a>. All Rights Reserved.</p>
          </div>
          <div class="col-md-4">
            <ul class="probootstrap-footer-social right">
              <li><a target="_blank" href="https://facebook.com/thebaketray"><i class="icon-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/thebaketray"><i class="icon-twitter"></i></a></li>
              <li><a target="_blank" href="https://instagram.com/thebaketray"><i class="icon-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="js/scripts.min.js"></script>
    <script src="js/custom.min.js"></script>

  </body>
</html>
